<!DOCTYPE html>
<html>
<head>
    <title>Display Data</title>
    <style>
        a{
            border: 1px solid grey;
            border-radius: 5px;
            text-decoration: none;
            color: black;
            padding: 2px;
            font-size: medium;
            width:fit-content
        }
        #imageContainer{
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <img src="{{ url_for('static', filename=name) }}"  alt="uploaded image" width="200px">
    <form action="/upscale" method="post" enctype="multipart/form-data">
        <button type="submit">upscale</button>
    </form> 

    <button onclick="displayImage()">Display Image</button>
    <div id="imageContainer"></div>
    <script src="../static/script.js"></script>
</body>
</html>
